<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <title>Адміністратор</title>
</head>
<body>
<h1>Ласкаво просимо Адміністратор!</h1>
<h2>Оберіть дію:</h2>
<form action="trains.html", method="get">
    <button type="submit">Редактор Потяг</button>
</form>
<form action="cars.html", method="get">
    <button type="submit">Редактор Вагон</button>
</form>
<form action="seatsCars.html", method="get">
    <button type="submit">Редактор Місць у вагону</button>
</form>
<form action="stations.html", method="get">
    <button type="submit">Редактор Станцій</button>
</form>
<form action="", method="get">
    <button type="submit">Редактор Часу між потягом та станцією</button>
</form>
<form action="", method="get">
    <button type="submit">Редактор між потягом та вагоном</button>
</form>
<form action="", method="get">
    <button type="submit">Редактор між потягом та станцією </button>
</form>

</body>
</html>
