<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Клієнт</title>
</head>
<body>
<h1>Ласкаво просимо Клієнт!</h1>
<h2>Оберіть дію:</h2>
<form action="", method="get">
    <button type="submit">Пошук квитків</button>
</form>
<form action="", method="get">
    <button type="submit">Купити квитки</button>
</form>
<form action="", method="get">
    <button type="submit">Повернути квитки</button>
</form>
<form action="", method="get">
    <button type="submit">Розклад потяга</button>
</form>
<form action="", method="get">
    <button type="submit">Статус квитка</button>
</form>
</body>
</html>